*{
  box-sizing: border-box;
  overflow: hidden;

}
body{
  height: 100dvh;
  width: 100dvw;
  background-color: #111111;
  color: white;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
}


h1{
  font-size: 500%;
  text-align: center;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: underline;
}

.Box{
  background-color: white;
  margin-inline: auto;
  width: 26.7%;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(3,1fr);
  /* background-color: rgb(90, 255, 75); */
  gap: 8px;
  /* padding: 4px; */
  color: white;
  /* border: 6px solid rgb(90, 255, 75); */
}

.Box div{
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 467%;
  font-family: cursive;
  color: red;
}


.square{
  height: 100%;
  width: 100%;
  color: #111;
}

p{
  margin-top: 20px;
  font-size : 3rem;
  text-align: center;
  color: rgb(0, 198, 252);
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
  margin-top: 20x;
  padding: 14px 36px;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(135deg, #bdff08, #ffb199);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 8px 25px rgba(255, 8, 68, 0.5);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: black;
}

button:hover{
  transform: scale(.98);
  box-shadow: 2px 2px 2px 6px #0839ff ;
}




@media (max-width : 500px){
  *{
    overflow: hidden;
  }
  h1{
    font-size: 3.5rem;
  }
  .Box{
    margin-top: 28px;
    width: 80%;
  }
  .Box div{
    font-family: sans-serif;
  }

  p{
    font-size: 40px;
  }

  button{
    margin-top: 32px;
  }

  .Box div:hover{
    transform: none;
  }
}                                         
/* @media(mx-width : 900px){
  .Box{
    width: 60%;
  }
} */