*{
  box-sizing: border-box;
  overflow: hidden;

}
body{
  height: 100dvh;
  width: 100dvw;
  background-color: #111111;
  color: white;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
}


h1{
  font-size: 500%;
  text-align: center;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: underline;
}

.Box{
  background-color: white;
  margin-inline: auto;
  width: 26.7%;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(3,1fr);
  /* background-color: rgb(90, 255, 75); */
  gap: 8px;
  /* padding: 4px; */
  color: white;
  /* border: 6px solid rgb(90, 255, 75); */
}

.Box div{
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 467%;
  font-family: cursive;
  color: red;
}


.square{
  height: 100%;
  width: 100%;
  color: #111;
}

p{
  font-size : 4rem;
  text-align: center;
  color: rgb(0, 198, 252);
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



@media (max-width : 500px){
  *{
    overflow: hidden;
  }
  h1{
    font-size: 3.5rem;
  }
  .Box{
    margin-top: 28px;
    width: 80%;
  }

  p{
    font-size: 40px;
  }

  .Box div:hover{
    transform: none;
  }
}                                         
/* @media(mx-width : 900px){
  .Box{
    width: 60%;
  }
} */